# Dependencias de Node.js
node_modules/

# Archivos de construcción de TypeScript
dist/

# Archivos de entorno
.env

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs o editores (como VSCode)
.vscode/
.idea/

# Archivos de sistema (macOS/Windows)
.DS_Store
Thumbs.db

#archivo docker 

mysql_data/